html, body { height:100%; padding:0; margin:0; }

body {
	text-rendering: optimizeLegibility; /* Required for Safari */
	-moz-font-feature-settings:"liga=1, dlig=1"; 
	-ms-font-feature-settings:"liga", "dlig"; 
	-o-font-feature-settings:"liga", "dlig";
	-webkit-font-feature-settings:"liga", "dlig"; 
	font-feature-settings:"liga", "dlig";
	font-size:1em;
	}
	
#nav{
	width:4em;
	height:6em;
	position:fixed;
	left:1em;
	background:#00bdd2;
	z-index:1;
	}
	
.nav-logo{
	height:3em;
	position:relative;
	left:0.6em;
	top:2.2em;
	}

/* Top-bar Navigation: screens below 720px, and mobile devices below 1024px in portrait mode */	
@media screen and (max-width: 720px), (max-device-width : 1024px) and (orientation : portrait){
	#nav{
		width:100%;
		height:3em;
		position:fixed;
		left:0em;
		margin-bottom: 1em;
		}
	.nav-logo{
		height:2.6em;
		position:relative;
		left:0.8em;
		top:0.2em;
		}
	#book{
		position: relative;
		top: 3em;
		}
	}
	
::selection {
	background: #00bdd2;
}

#banner{
	background: #00bdd2;
	width:100%;
	display:table;
	table-layout:fixed;
	}

#banner-container{
	display: table-cell;
    vertical-align: middle;
	}
	
#banner-content{
	margin-left: auto;
	margin-right: auto;	
	padding-top:4em;
	padding-bottom:4em;
	}
	
.chapter-header{
	width:200px;
	}

h1, h2, h3, h3.chapter-x, h4{
	font-family: "brandon-grotesque", sans-serif;
	font-weight:400;
	text-align:center;
	text-wrap: balanced;
	}
	
h1{
	font-size: 2.56em;
	color:#fff;
	}
	
h2{
	font-size: 1.6em;
	}

h3{
	font-size: 1em;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:0.1em;
	}

h3.chapter-x{
	letter-spacing:0.2em;
	}

#book{
	padding: 2em 0 2em 0;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6em;
	hanging-punctuation:first;
	}

p{
	font-family: "freight-text-pro", serif;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
    -webkit-hyphenate-limit-before:2;
	-webkit-hyphenate-limit-after:4;
	text-align:justify;
	}
	
p + p {
text-indent: 1.6em;
}

sup {
	font-size:0.8em;
	vertical-align: super;
	line-height: 0;
    }
	
#line-break{
	height:5px;
	background:#00bdd2;
	margin-top: 4.092em;
	margin-bottom: 4.092em;
	}

#section-break{
	height:5px;
	width:38%;
	margin-left:auto;
	margin-right:auto;
	background:#00bdd2;
	margin-top:4.092em;
	margin-bottom:4.092em;
	}
	
#box{
	background:#f2f2f2;
	border-radius: 0.5em;
	margin-top:1.6em;
	margin-bottom:1.6em;
	padding-left:1.6em;
	padding-right:1.6em;
	padding-top:1em;
	padding-bottom:1em;
	font-size:92%;
}

#box p{
	text-align:left;
	}





/* ------ Media Queries ------ */

/* 424px and below */	
@media screen and (max-width: 424px){
	body {
		font-size:1.1em;
		}
	#book, #banner-content {
		width: 86%;
		}
	#box{
		padding-left:5%;
		padding-right:5%;
		}
	}

/* 424px - 687px */
@media screen and (min-width: 424px){
	body {
		font-size:1.2em;
		}
	#book, #banner-content {
		width: 80%;
		}
	}

/* 555px and below: Ragged right */	
@media screen and (max-width: 555px){
	p{
		text-align:left;
		}
	}

/* 687px - 1112px */	
@media screen and (min-width: 687px){
	body {
		font-size:1.3em;
		}
	#book, #banner-content {
		width: 70%;
		max-width:620px;
		}
	}

/* 1112px and above */
@media screen and (min-width: 1112px){
	body {
		font-size:1.5em;
		}
	#book, #banner-content {
		width: 62%;
		max-width:800px;
		}
	}
