body
{
background-image:url('images/background.gif');
}

#page{
	margin: 2em auto;
    padding: 2em;
    max-width: 70em;
}

.johnston{
	font-family: "p22-underground";
}

#MYMYMY{
	font-size: 5em;
	font-weight: 900;
	text-align: center;
}

#new_nav{
	font-size: 1.3em;
	font-weight: 900;
	text-align: center;
	letter-spacing: 2px;
}

#new_nav a {
	white-space: nowrap;
	text-transform: uppercase;
}

a.book-covers{
	color: #000;
	text-decoration: none;
}

a.book-covers:hover{
	color: #00cccc;
}

a.animations{
	color: #000;
	text-decoration: none;
}

a.animations:hover{
	color: #ff3333;
}

a.about-me{
	color: #000;
	text-decoration: none;
}

a.about-me:hover{
	color: #ffcc00;
}

#content_animations{
	width: 100%;
}

#content_about-me{
	width: 100%;
	min-height: 400px;
}

#line{
	height: 1px;
	background-color: #000;
	margin: 1em auto;
}

.video-main{
	float: left;
	width: 75%;
	padding: 1em 0;
}

.video-meta{
	float: right;
	width: 22%;
	padding: 1em 0;
}

p{
	font-family: "freight-text-pro";
	font-size: 1em;
}

p.list{
	margin-bottom:-0.5em;
}

.no-wrap{
	white-space: nowrap;
}

a{
	color: #000;
	font-weight:bold;
	text-decoration:none;
}

a:visited{
	color: #000;
}

a:hover{
	color: #ff3333;
}

a.blue:hover{
	color: #58D3F7;
}

a.dark-blue:hover{
	color: #0066CC;
}

a.red:hover{
	color: #F00000;
}

a.purple:hover{
	color: #990088;
}

a.turquoise:hover{
	color: #00cccc;
}

a.yellow:hover{
	color: #ffcc00;
}

a.green:hover{
	color: #00cc55;
}

a.orange:hover{
	color: #ff8800;
}

a.pink:hover{
	color: #ff99aa;
}

a.grey:hover{
	color: #99bbbb;
}

a.black:hover{
	color: #000;
}

h3{
	font-family: "p22-underground";
	font-size: 1em;
	letter-spacing: 1px;
}

#new_footer{
	text-align: center;
	opacity:0.5;
}

#about-me{
	float:left;
	width:25%;
	padding: 0 2.5% 0 4%;
}

#contact{
	float:left;
	width:20%;
	padding: 0 1.5% 0 4%;
}

#awards{
	float:left;
	width:40%;
	padding: 0 1.5%;
}

@media screen and (max-width: 1000px) {
	#about-me, #contact, #awards {
		display: block;
		float: none;
		width: 100%;
		max-width: 500px;
		margin: 3em auto;
		padding: 0;
	}
}


#single-animation{
	margin-bottom:50px;
}

.clear-float {
	clear: both;
}