html, body
	width: 100%
	font-size: 22px
	background: white
	color: black
	font-family: Baskerville
	line-height: 1.4
	
flex()
	display: flex
	flex-wrap: nowrap

flexRow()
	flex()
	flex-direction: row
	
flexColumn()
	flex()
	flex-direction: column
	
flexCenter()
	flex()
	justify-content: center
	align-content: center
	
boxShadow()
	box-shadow:	0 15px 30px 0 rgba(0,0,0,0.06),
				0 5px 15px 0 rgba(0,0,0,0.04);
				
boxShadowDarker()
	box-shadow:	0 15px 30px 0 rgba(0,0,0,0.3),
				0 5px 15px 0 rgba(0,0,0,0.2);
	
section
	padding: 5vh 5vw
	position: relative
	padding-bottom: 6em
	
	+below(700px)
		padding-bottom: 4em
	
.text-area
	margin: 5em auto 7em
	text-align: center
	
	+below(700px)
		margin: 2em auto 4em	
	
img
	max-width: 100%
	margin: 0
	boxShadow()
	
h2
	font-family: MonotypeGrotesque
	font-weight: 600
	font-size: 0.9em
	uppercase()
	text-decoration: none
	text-align: center
	border-bottom: 1px solid
	display: inline-block
	
	+below(700px)
		font-size: 0.7em
		
p
	margin-left: auto
	margin-right: auto
	width: 90%
	max-width: 44rem
	font-size: 1.5em
	
	+below(700px)
		font-size: 1.3em
	
	&.small
		font-size: 0.8em
		font-family: Karla
		font-weight: 400
		margin: 0 auto
	
	a:link, a:visited
		color: inherit
		font-weight: inherit
		
	a:hover, a:focus
		color: red
		
span.keep
	display: inline-block
	
	+below(700px)
		display: inline
	
button, .button
	display: inline-block
	padding: 1em 1.5em
	margin: 0.5em 0
	background: lighten(green,10%)
	color: white
	font-family: MonotypeGrotesque
	text-transform: uppercase
	text-decoration: none
	font-weight: 600
	border: none
	border-radius: 3px
	font-size: 0.9em
	fontSmoothing()
	transition: 0.3s ease
	boxShadow()
	margin-bottom: 2.5em
	
	&:hover, &focus
		transform: scale(1.02)
		background: darken(green,10%)
	
#standfirst
	width: 100%
	flexColumn()
	justify-content: center
	text-align: center
	min-height: 80vh
	background: white
	color: black
	position: fixed
	top: 0
	left: 0
	padding-bottom: 5vh
	
	p
		max-width: 90vw
	
#monarchs
	background: paleBlue
	margin-top: 80vh
	boxShadow()
	padding-bottom: 6em
	
	#a
		width: 60%	
		display: block
		position: relative
		z-index: 2
		
		+below(1000px)
			width: 78%
			
		+below(700px)
			width: 100%
		
	#b
		width: 100%
		flexRow()
		justify-content: space-between
		align-items: flex-end
		position: relative
		z-index: 1
		top: -33.5vw
		margin-bottom: -33.5vw
		
		+below(1000px)
			top: -10vw
			margin-bottom: -10vw
			
		+below(700px)
			top: 0
			margin-bottom: 0
		
	#c
		width: 40%
		
		+below(1000px)
			display: none
		
	#d
		width: 50%
		flexColumn()
		justify-content: flex-end
		
		+below(700px)
			display: none
		
	#e
		width: 70%
		max-width: 18em
		margin-left: 4vw
		margin-bottom: 4vw
		text-align: left
		position: relative
		left: 20%
		
		+below(1000px)
			display: none
		
	#g
		display: none
		margin-right: 5vw
		max-width: 30em
		
		+below(1000px)
			display: block
			
		+below(700px)
			margin-top: 2em
		
#street-london
	background: deepBlue
	color: white
	
	img
		boxShadowDarker()
		
	#a
		flexRow()
		justify-content: space-between
		padding: 0 6%
		
		+below(1100px)
			padding: 0 0 
	
	#b
		width: 80%
		
		+below(900px)
			width: 100%
		
	#d
		width: 17.8%
		flexColumn()
		justify-content: space-around
		
		+below(900px)
			display: none
		
	#e
		margin-bottom: 1vw
		
#seven-brief-lessons
	background: white
	color: black
	
	#a
		text-align: center
		
	#b
		max-width: 500px
		width: 30vw
		position: absolute
		transform: translateX(-51%) translateY(-20%)
		z-index: 3
	
	#c
		position: relative
		z-index: 2
		left: -10vw
		
		+below(1100px)
			left: 0

	#d
		max-width: 600px
		width: 40vw
		position: absolute
		transform: translateX(-71%) translateY(-20%)
		z-index: 1
		
		+below(1100px)
			display: none

#david-bailey
	background: deepBlue
	color: white
	text-align: center
	
	img
		width: 100%
		max-width: 44em
	
#pelican
	background: paleBlue
	
	#a
		flexRow()
		justify-content: space-around
		padding: 0 5%
		
		+below(1000px)
			padding: 0
			
		+below(700px)
			flexColumn()
	
	#b
		width: 33%
		flexColumn()
		align-items: flex-end
		
		+below(700px)
			flexRow()
			width: 100%
			margin-bottom: 5vw
		
	#c
		width: 78%
		margin-bottom: 10%
		
		+below(700px)
			width: 58%
			margin-bottom: 0
			margin-right: 5vw
		
	#d
		width: 100%
		
		+below(700px)
			width: 35%

	#e
		width: 60%
		
		+below(700px)
			width: 98.5%
		
	#g
		margin-top: 5%
		width: 100%
		max-width: 16em
		margin-left: 0
		
		+below(700px)
			max-width: 30em

#finale
	background: white
	
	.text-area
		max-width: 36em
		margin-top: 8em
		margin-bottom: 5em
		
	#v
		letter-spacing: -0.1em
		
	#ampersand
		letter-spacing: -0.1em

#thank-you
	background: deepBlue
	color: white
	
	+below(700px)
		padding-bottom: 5vh
	
	.text-area
		margin-bottom: 2em














