Baskerville = "baskerville-display-pt", serif
MonotypeGrotesque = "monotype-grotesque", sans-serif
Karla = "Karla", sans-serif

uppercase()
	text-transform: uppercase
	letter-spacing: 0.02em
	
smallcaps()
	uppercase()
	font-size: 0.8em
	
fontSmoothing()
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased