html, body { height:100%; padding:0; margin:0; }

body {
	text-rendering: optimizeLegibility; /* Required for Safari */
	-moz-font-feature-settings:"liga=1, dlig=1"; 
	-ms-font-feature-settings:"liga", "dlig"; 
	-o-font-feature-settings:"liga", "dlig";
	-webkit-font-feature-settings:"liga", "dlig"; 
	font-feature-settings:"liga", "dlig";
	font-size:1em;
	}
	
::selection {
	background: #f26522;
}

#nav{
	width:4em;
	height:6em;
	position:fixed;
	left:1.6em;
	top:0em;
	background:#f26522;
	box-shadow: 0px 1px 4px #9e9e9e;
	z-index:1;
	text-align:center;
	}
	
.nav-logo{
	height:5em;
	position:relative;
	padding-top:0.5em;
	padding-left:0.1em;
	}

h1, h2, h3, h3.chapter-x, h4{
	font-family: "brandon-grotesque", sans-serif;
	font-weight:400;
	text-align:center;
	text-wrap: balanced;
	}
	
h1{
	font-size: 2.56em;
	}
	
h2{
	font-size: 1.6em;
	}
	
h1, h2{
	line-height: 1.2em;
	}

h3{
	font-size: 1em;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:0.1em;
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	}

h3.chapter-x{
	letter-spacing:0.2em;
	line-height:1.6em;
	}
	
p + h3{
	margin-top:4.092em;
	margin-bottom:3.6em;
	}

#book{
	padding-top: 4.092em;
	padding-bottom: 4.092em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6em;
	hanging-punctuation:first;
	}

p{
	font-family: "freight-text-pro", serif;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
    -webkit-hyphenate-limit-before:2;
	-webkit-hyphenate-limit-after:4;
	text-align:justify;
	}
	
p + p {
text-indent: 1.6em;
}

sup {
	font-size:0.8em;
	vertical-align: super;
	line-height: 0;
    }
	
#line-break{
	height:5px;
	background:#f26522;
	margin-top: 4.092em;
	margin-bottom: 4.092em;
	}

#section-break{
	height:5px;
	width:38%;
	margin-left:auto;
	margin-right:auto;
	background:#f26522;
	margin-top:4.092em;
	margin-bottom:4.092em;
	}
	
div.illustration{
	font-size:0.8em;
	line-height:1.4em;
	color:#9e9e9e;
	margin-top:2.56em;
	margin-bottom:2.56em;
	margin-left:auto;
	margin-right:auto;
	max-width:720px;
	}

div.illustration p{
	text-align:left;
	}

div.illustration img{
	width:100%;
	box-shadow: 0px 1px 4px #9e9e9e;
	}

.fig{
	color:#f26522;
	font-style:italic;
	}
	
#box{
	background:#f2f2f2;
	border-radius: 0.5em;
	margin-top:1.6em;
	margin-bottom:1.6em;
	padding-left:1.6em;
	padding-right:1.6em;
	padding-top:1em;
	padding-bottom:1em;
	font-size:92%;
}

#box p{
	text-align:left;
	}
	
.no-wrap{
	white-space:nowrap;
}

#next-chapter{
	border-radius: 0.2em;
	width:86%;
	max-width:520px;
	margin-left:auto;
	margin-right:auto;
	background:#f26522;
	margin-top:4.092em;
	margin-bottom:1em;
	padding: 1em;
	box-shadow: 0px 1px 4px #9e9e9e;
	}

#next-chapter p{
	color:#fff;
	text-align:center;
	font-family: "brandon-grotesque", sans-serif;
	font-size:1.2em;
	}

a:-webkit-any-link {
	text-decoration:none;
	}




/* ------ Media Queries ------ */

/* 424px and below */	
@media screen and (max-width: 424px){
	body {
		font-size:1.1em;
		}
	#book{
		width: 86%;
		}
	#box{
		padding-left:5%;
		padding-right:5%;
		}
	}

/* 424px - 687px */
@media screen and (min-width: 424px){
	body {
		font-size:1.2em;
		}
	#book{
		width: 80%;
		}
	}

/* 600px and below: Ragged right */	
@media screen and (max-width: 600px){
	p{
		text-align:left;
		}
	h3{
		max-width:94%;
		}
	}

/* 720px - 900px */	
@media screen and (min-width: 720px){
	body {
		font-size:1.3em;
		}
	#book {
		width: 70%;
		max-width:600px;
		}
	#nav{
		width:3em;
		height:4.5em;
		position:fixed;
		left:1.2em;
		top:0em;
		background:#f26522;
		box-shadow: 0px 1px 4px #9e9e9e;
		z-index:1;
		text-align:center;
		}	
	.nav-logo{
		height:3em;
		position:relative;
		padding-top:1.35em;
		padding-left:0.075em;
		}
	}
	
/* 900px - 1112px */	
@media screen and (min-width: 900px){
	body {
		font-size:1.4em;
		}
	#book {
		width: 66%;
		max-width:700px;
		}
	#nav{
		width:4em;
		height:6em;	
		position:fixed;
		left:1.4em;
		top:0em;
		background:#f26522;
		box-shadow: 0px 1px 4px #9e9e9e;
		z-index:1;
		text-align:center;
		}
	.nav-logo{
		height:3em;
		position:relative;
		padding-top:2.4em;
		padding-left:0.1em;
		}
	}

/* 1112px and above */
@media screen and (min-width: 1112px){
	body {
		font-size:1.5em;
		}
	#book{
		width: 62%;
		max-width:800px;
		}
	#nav{
		left:1.6em;
		}
	}




/* Top-bar Navigation: screens below 720px, and mobile devices below 980px in portrait mode */	
@media screen and (max-width: 720px), (max-device-width : 980px) and (orientation : portrait){
	#nav{
		width:100%;
		height:2.56em;
		position:fixed;
		left:0em;
		text-align:left;
		}
	.nav-logo{
		height:2em;
		position:relative;
		left:0.6em;
		padding-top:0.28em;
		}
	#book{
		position: relative;
		top: 2em;
		}
	}








/* iPhone – Portrait */	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
	body {
		font-size:3.8em;
		}
	#book {
		width:90%;
		max-width:900px;
		}	
	h1 {
		font-size:2em;
		}
	p {
	    text-align:left;
		}
	#box{
		padding-left:0.6em;
		padding-right:0.6em;
		}
	}
	
/* iPhone – Landscape */	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

	body {
		font-size:1.6em;
		}
	#book {
		width:70%;
		max-width:900px;
		}	
	p {
	    -webkit-hyphenate-limit-before:3;
		-webkit-hyphenate-limit-after:5;
		}
	#box{
		padding-left:0.6em;
		padding-right:0.6em;
		}
	}
	
	

/* iPad - Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
   body {
		font-size:1.8em;
		}
	#book {
		width:80%;
		max-width:900px;
		}	
	}