html, body { height:100%; padding:0; margin:0; }


body {
	text-rendering: optimizeLegibility; /* Required for Safari */
	-moz-font-feature-settings:"liga=1, dlig=1"; 
	-ms-font-feature-settings:"liga", "dlig"; 
	-o-font-feature-settings:"liga", "dlig";
	-webkit-font-feature-settings:"liga", "dlig"; 
	font-feature-settings:"liga", "dlig";
	font-size:1em;
	background:#fff;
	}


		
		
		
		
		
		
		
		
/* Screens below 720px, and mobile devices below 980px in portrait mode */	
@media screen and (min-width: 100px), (max-device-width : 980px) and (orientation : portrait){

body {
	font-size: 3.8em;
	}
	
::selection {
	background: #00bdd2;
}

a:link {
	text-decoration:none;
	}
	
p, h1 {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
    -webkit-hyphenate-limit-before:2;
	-webkit-hyphenate-limit-after:4;
	}

#main {
	margin-left: auto;
	margin-right: auto;
	}

#book-cover {
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left:auto;
	margin-right: auto;
	background: #00bdd2;
	}
	
#book-cover img {
	width:100%;
	-webkit-box-shadow: 0em 0em 0.16em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0em 0em 0.16em rgba(0, 0, 0, 0.4);
	box-shadow: 0em 0em 0.16em rgba(0, 0, 0, 0.4);
	}

#blurb {
	width: 90%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left:auto;
	margin-right: auto;
	font-family: "freight-text-pro", serif;
	font-size: 1em;
	line-height: 1.6em;
	}

#blurb h1 {
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.1em;
	color: #00bdd2;
	}

#read-now {
	width: 100%;
	background: #00bdd2;
	margin: 1em 0em 0em 0em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-radius: 0.2em;
	-webkit-box-shadow: 0em 0.02em 0.1em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0em 0.02em 0.1em rgba(0, 0, 0, 0.4);
	box-shadow: 0em 0.02em 0.1em rgba(0, 0, 0, 0.4);
	font-family: "brandon-grotesque", sans-serif;
	font-size:2em;
	color:#fff;
	text-align:center;
	}

#read-now:hover {
	-webkit-box-shadow: 0em 0.04em 0.4em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0em 0.04em 0.4em rgba(0, 0, 0, 0.4);
	box-shadow: 0em 0.04em 0.4em rgba(0, 0, 0, 0.4);	
	}

#other-formats {
	font-family: "brandon-grotesque", sans-serif;
	font-size: 0.8em;
	}
	
#other-formats p {
	opacity: 0.2;
	}

#other-formats a:link {
	color: #000;
	border-bottom: 1px dotted;
	padding-bottom: -0.5em;
	}
	
#other-formats a:visited {
	color: #000;
	}

#other-formats a:hover {
	color: #00bdd2;
	opacity: 1;
	}

#other-formats a:active {
	color: #000;
	}

#author-biog {
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left:auto;
	margin-right: auto;
	padding-top: 10%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	font-family: "freight-text-pro", serif;
	font-size: 1em;
	line-height: 1.6em;
	background:#f2f2f2;
    -webkit-box-shadow: inset 0em 0.2em 0.91em -0.75em rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0em 0.2em 0.91em -0.75em rgba(0, 0, 0, 1);
    box-shadow: inset 0em 0.2em 0.91em -0.75em rgba(0, 0, 0, 1);
	}

#author-biog img {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0.4);
	}

}
		
		
		
		
		







/* Screens above 720px */	
@media screen and (min-width: 720px) and (min-device-width : 980px) {

body {
	font-size:1.15em;
	}

#main {
	width: 100%;
	max-width:1800px;
	min-height: 600px;
	margin-top: 2em;
	margin-bottom: 2em;
	}
	
#book-cover {
	position:relative;
	width: 33%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 4%;
	margin-right: 2%;
	float:left;
	}

#blurb {
	position: relative;
	width: 33%;
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 2%;
	margin-right: 4%;
	float: left
	}

#author-biog {
	position: relative;
	top: -3em;
	width: 18%;
	height:100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0em;
	margin-right: 0em;
	padding-top: 5em;
	padding-bottom: 2em;
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	font-size: 0.9em;
    -webkit-box-shadow: inset 0.6em 0 1em -0.75em rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0.6em 0 1em -0.75em rgba(0, 0, 0, 0.6);
    box-shadow: inset 0.6em 0 1em -0.75em rgba(0, 0, 0, 0.6);
	}
	
}











/* iPad - Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

body {
	font-size:1.8em;
	}

#main {
	width: 80%;
	}

#author-biog {
	padding-left: 20%;
	padding-right: 20%;
	margin-left: -15%;
	}
	
}