
// CSS Reset
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	* { box-sizing: border-box;}

html {
	font-size: 20px;
}
body {
	background-color: rgb(250, 237, 14);
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	line-height: 1.4em;
	color: rgb(40,40,40);
}
a:link, a:visited, a:hover, a:active {
	color: rgb(40,40,40);
}
h1, h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 1.2em;
}
h1 {
	font-size: 2em;
}
h1.photobook-weekend {
	margin-top: 0;
}
h1.a-bit-smaller {
	font-size: 1.8em;
}
h2 {
	font-size: 1em;
}
p, h5 {
	font-size: 1em;
	font-style: italic;
	margin: 1.6em 0;
}
h5 {
	margin: ;
	font-size: 0.9em;
	font-weight: 400;
}
.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.lowercase {
	text-transform: lowercase;
}
.no-break {
	white-space: nowrap;
}
#wrapper {
	width: 90%;
	max-width: 36em;
	margin: 4em auto;
}
.book-icon {
	max-width: 5em;
}
#publishers {
	padding: 0.6em 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 1.6em;
}
#publishers li {
	display: inline-block;
	margin: 0.4em 0;
}
li::before {
	content: '*';
	display: inline;
	position: relative;
	bottom: -0.2em;
	margin-right: 0.4em;
	margin-left: 0.3em;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.4em;
	font-weight: 100;
	line-height: 0;
	margin-bottom: -1em;
}
@media screen and (max-width: 700px) {
	#publishers li {
		margin: 0.5em;
	}
	li::before {
		display: none;
	}
}
#details {
	max-width: 25em;
	margin: 0 auto;
}
#organisers h5 {
	margin: 2em 0 0;
}
#logos img {
	margin: 1em;
}