// NB: Aspect ratio can only accept integers. Can't parse '1.8:1' for example.

// < 0.56
// This is a 'max', all the others are 'min'. This value should be the same as the 'portrait' value.
tall()
	@media (max-aspect-ratio: 1/2)
		{block}

// > 0.5
portrait()
	@media (min-aspect-ratio: 1/2)
		{block}

// > 0.8
square()
	@media (min-aspect-ratio: 4/5)
		{block}

// > 1.2
landscape()
	@media(min-aspect-ratio: 6/5)
		{block}
		
// > 1.78
wide()
	@media(min-aspect-ratio: 16/9)
		{block}

// > 2.4
wider()
	@media(min-aspect-ratio: 12/5)
		{block}

// > 4
widest()
	@media(min-aspect-ratio: 4/1)
		{block}
		
// Testing aspect ratios
// body
// 	+tall()
// 		background: red !important

// 	+portrait()
// 		background: orange !important
		
// 	+square()
// 		background: yellow !important

// 	+landscape()
// 		background: green !important
		
// 	+wide()
// 		background: blue !important
		
// 	+wider()
// 		background: indigo !important
		
// 	+widest()
// 		background: violet !important
		


