@import 'layout'

body.book
	
	+high()
		padding-bottom: 1em
	
	header
		height: 4em
	
	align-items: end
	
	+landscape()
		align-items: start
		
	+wide()
		align-items: end

	figure
		grid-column: 1 / span 12
		grid-row: 2 / span 1
		overflow-x: scroll
		overflow-y: visible
		text-align: center
		flexRow()
		align-items: flex-end
		margin-left: auto
		margin-right: auto
		
		+landscape()
			grid-column: 6 / span 7
			text-align: left
			align-items: flex-start
			min-height: calc(100vh - 7.8em)
			margin-left: 0
			margin-right: 0
			
		+wide()
			align-items: flex-end
			
		+high()
			min-height: 0px
			max-height: calc(100vh - 6.8em - 5em)
			
		img
			max-width: 70vw
			
			+landscape()
				max-width: 100%
				
			+high()
				max-height: calc(100vh - 6.8em - 5em)
			
		&.front-and-back
			
			+tall()
				width: 100vw
				margin-left: -5vw // based on body padding
				
			+landscape()
				grid-column: 6 / span 7
				flexColumn()

			+wide()
				grid-column: 5 / span 8
				flexRow()
			
			img
				margin-right: 1em
				max-width: calc(50% - 0.5em)
				
				+tall()
					max-width: 75%
					
					&:first-of-type
						margin-left: 12%
						
					&:last-of-type
						max-width: 87% // width + padding
						padding-right: 12%
				
				+landscape()
					max-width: 100% // single, stacking images
					margin-bottom: 1em
					
					&:last-of-type
						margin-bottom: 0
					
				+wide()
					max-width: calc(50% - 0.5em) // same as original max-width, above
					margin-bottom: 0
			
	figcaption
		grid-column: 1 / span 12
		grid-row: 3 / span 1
		margin-top: 2em
		font-size: 0.85em
		max-width: 24em
		
		+landscape()
			grid-column: 1 / span 5
			grid-row: 2 / span 1
			margin-right: 2em
			position: sticky
			margin-top: 5em
			
		+wide()
			grid-column: 1 / span 4
			
		dl
			margin-left: 1em
			line-height: 1.4em
						
		dt
			display: inline
			margin-left: -1em
			
			&::after
				content: ":"
				width: 0.4em
				display: inline-block
				
		dd
			display: inline
			margin: 0
			
		figcaption // figcaption within figcaption (prevent font size getting smaller)
			font-size: 1em
			
	.see-also
		font-size: 0.85rem
		margin-top: 2em
		flexRow()
		align-items: flex-end
				
		.image, .images
			flexRow()
			height: 5rem
			margin-right: 1em
			
			img
				max-height: 100%
				margin-right: 0.5em
				
				&:last-of-type
					margin-right: 0
			
		h4
			text-transform: none
			font-size: 1em
			letter-spacing: 0
			font-style: italic
			
	p + p
		margin-top: 0
		text-indent: 1em