@import layout

#home
	
	a.find-out-more
		font-style: italic
		display: inline-block
		
	h3 a
		border-bottom: none
	
	figure
		position: relative
		grid-column: 2 / span 10
		margin: 3em 0
		
		> a
			border-bottom: none
		
		&:first-of-type
			margin-top: 0
				
		&.book
			img
				filter: drop-shadow(0.8em 0.8em 0.6em rgba(black, 0.5))
				// filter: none
				
			&.demy
				img
					max-height: calc(100vh - 6em)
					
			&.b-format
				img
					max-height: calc(100vh - 9em)
				
		&.vinyl
			img
				filter: drop-shadow(0.2em 0.2em 0.2em rgba(black, 0.5))
				// filter: none
				
		&.website
			grid-column: 1 / span 12
			
			+portrait()
				grid-column: 2 / span 10
			
			video
				width: 100%
				height: auto
				max-width: 100%
				min-height: 360px
				max-height: calc(100vh - 8em)
				border-radius: 5px
				object-fit: cover

			iframe
				width: 100%
				height: 70vh
				max-width: 100%
				min-height: 360px
				max-height: calc(100vh - 8em)
				border-radius: 5px
				object-fit: cover
		
		&#persistence-of-sound
			grid-column: 1 / span 12
			display: block
			
			a.record
				border-bottom: none
			
			+square()
				grid-12()
				grid-template-rows: repeat(7, col)
			
			.images
				grid-column: 1 / span 12
				grid-row: 1 / span 2
				display: grid
				grid-gap: 10px
				
				+square()
					grid-gap: 1em
					
				+square()
					grid-column: 5 / span 8
					
				// #vinyl
				// 	grid-column: 4 / span 5
				// 	grid-row: 1 / span 5
				// 	z-index: 0
					
				#the-eccentric-press
					grid-column: 3 / span 5
					grid-row: 1 / span 5
					z-index: 2
					
				#factitious-airs
					grid-column: 1 / span 5
					grid-row: 2 / span 5
					z-index: 1
										
				#thames
					grid-column: 4 / span 5
					grid-row: 3 / span 5
					z-index: 3
			
			figcaption
				grid-column: 1 / span 12
				grid-row: 2 / span 1
				margin-bottom: "calc(%s * 3)" % col

				+square()
					grid-column: 1 / span 4
					margin-right: 1em		
		
		+square()
			margin: col 0
			
			&#japanese-short-stories
				grid-column: 2 / span 5
				margin-top: "calc(%s * -0.5)" % col
			
			&#contemporary-british-short-story
				grid-column: 8 / span 5
				
			&#prose-poem
				grid-column: 2 / span 5
				margin-top: "calc(%s * -0.5)" % col
				
			&#statistics-without-tears
				grid-column: 8 / span 4
				
			&#monarchs
				grid-column: 1 / span 12
				
			&#the-language-of-cities
				grid-column: 2 / span 4
				
			&#b-is-for-bauhaus
				grid-column: 8 / span 4
				
			&#shakespeares-sonnets
				grid-column: 5 / span 4
				
		#monarchs-spines
			height: "calc( (90vw - (2 * %s) - (2 * 10px)) * 2.436 )" %colSmall

			+square()
				height: auto
			
			img
				width: "calc( (90vw - (2 * %s) - (2 * 10px)) * 2.436 )" %colSmall
				max-width: none
				transform: rotate(-90deg) translateY(-244%)
				transform-origin: top right
				filter: drop-shadow(0em 0.6em 0.6em rgba(22,24,26,0.5))
				
				+square()
					width: 100%
					max-width: 100%
					transform: none
					filter: drop-shadow(0.8em 0.8em 0.6em rgba(black, 0.5))					
				
	figcaption
		margin-top: 1em
		font-size: 0.8em
		max-width: 28em
		
	.feature figcaption
		font-size: 1em



		