@import layout

#home
	
	figure
		position: relative
		grid-column: 2 / span 10
		margin: 2em 0
		
		&#persistence-of-sound
			grid-column: 1 / span 12
			display: block
			margin-top: 0
			
			+square()
				grid-12()
				grid-template-rows: repeat(7, col)
			
			.images
				grid-column: 1 / span 12
				grid-row: 1 / span 2
				display: grid
				grid-gap: 10px
				
				+square()
					grid-gap: 1em
					
				+square()
					grid-column: 5 / span 8
					
				#the-eccentric-press
					grid-column: 3 / span 5
					grid-row: 1 / span 5
					z-index: 2
					
				#factitious-airs
					grid-column: 1 / span 5
					grid-row: 2 / span 5
					z-index: 1
										
				#thames
					grid-column: 4 / span 5
					grid-row: 3 / span 5
					z-index: 3
			
			figcaption
				grid-column: 1 / span 12
				grid-row: 2 / span 1
				margin-bottom: "calc(%s * 3)" % col

				+square()
					grid-column: 1 / span 4
		
		+square()
			margin: col 0
			
			&#japanese-short-stories
				grid-column: 2 / span 5
				margin-top: "calc(%s * -0.5)" % col
			
			&#contemporary-british-short-story
				grid-column: 8 / span 5
				
			&#statistics-without-tears
				grid-column: 2 / span 4
				margin-top: "calc(%s * -0.5)" % col
				
			&#the-language-of-cities
				grid-column: 2 / span 4
				margin-top: "calc(%s * -0.5)" % col
				
			&#b-is-for-bauhaus
				grid-column: 8 / span 4
				
			&#shakespeares-sonnets
				grid-column: 8 / span 4
				
	figcaption
		margin-top: 0.6em
		font-size: 0.8em
		max-width: 28em
		
	.feature figcaption
		font-size: 1em
		
	#work-in-progress
		grid-column: 2 / span 10
		margin-top: 1em
		padding-top: 2em
		padding-bottom: 2em
		border-top: 1px solid black
		text-align: center
		