margin()
	margin-left: 10vw
	margin-right: 10vw

	+below(800px)
		margin-left: 5vw
		margin-right: 5vw

html
	margin-top: 3em
	margin-bottom: 3em
	margin()
	overflow-x: hidden
	color: rgb(100, 50, 25)
	
	::selection
		color: coral
		background-color: brown

.large
	font-size: calc(1em + 1.2vmin)

p + p
	margin-top: 0.8em