html, body
	width: 100%
	background: white
	color: black
	font-size: 22px
	font-family: sans-serif
	
body
	padding: 0 5vw
	min-height: 100vh

flex()
	display: flex
	flex-wrap: nowrap

flexRow()
	flex()
	flex-direction: row
	
flexColumn()
	flex()
	flex-direction: column
	
flexCenter()
	flex()
	justify-content: center
	align-content: center
	
.horizontal-scroll
	flexRow()
	width: 100vw
	height: 90vh
	overflow-x: scroll
	overflow-y: hidden
	
.book
	width: 80vw
	max-height: 90vh
	
	img
		width: 80vw