html, body
	width: 100%
	background: white
	color: black
	font-size: 22px
	font-family: sans-serif
	
body
	padding: 0 5%
	
flex()
	display: flex
	flex-wrap: nowrap

flexRow()
	flex()
	flex-direction: row
	
flexColumn()
	flex()
	flex-direction: column
	
flexCenter()
	flex()
	justify-content: center
	align-content: center
	
.book
	width: 100%
	
	img
		width: 100%