@import 'aspect-ratios'
@import 'layout'
@import 'flexbox'

#pelican
	
	#title, h1, h3, h4, h5, p, ul, li, aside, img, section, video
		grid-column: 1 / span 12
		
	img
		grid-column: 1 / span 12
		max-width: 100%
		margin: 2em auto