#persistence-of-sound
	
	img
		max-width: 100%
			
	section
		grid-column: 1 / span 12
		margin: 1em 0
		
	#intro
		img
			margin-top: 2em
			
			&#trio-square
				display: block
				
			&#trio-landscape
				display: none