@import 'aspect-ratios'
@import 'layout'
@import 'flexbox'

#persistence-of-sound
	
	+wide()
		max-width: 90%
		margin: 0 auto
	
	h1, h2, h3, h4, h5, p, ul, li, aside, img, section, video
		grid-column: 1 / span 12
		
	header
		h2
			grid-column: 1 / span 9
	
	img, video
		max-width: 100%
		
	h2 + p
		margin-top: 0.5em
		
	aside + p
		margin-top: 1em
	
	#title
		grid-column: 1 / span 3

	img
		&#trio-square
			display: block
			margin: 2em 0
			
			+landscape()
				display: none
			
		&#trio-landscape
			display: none
			margin-bottom: 2em
			
			+landscape()
				display: block
				grid-column: 1 / span 12
				
	#intro
		grid-column: 1 / span 5
		margin-top: 3em
		margin-bottom: 3em
		transition: all 0.4s ease
		
		&.expanded
			margin-top: 1em
				
	a.show-explainer
		color: rgba(black, 0.4)
		font-style: italic
				
	.explainer
		display: none
		font-size: 0.95em
		background: rgba(black, 0.04)
		border-radius: 3px
		border: 2px solid rgba(black, 0.05)
		margin: 1.5em 0
		padding: 1.5em 1.5em 1.8em 1.5em
		
		h3
			font-size: 1em
			font-style: italic
	
	.carousel
		width: 100vw
		margin-left: -5vw
		margin-bottom: 2em
		flexRow()
		overflow: scroll
		
		+landscape()
			display: none
		
		figure
			margin-right: 1em
			
			&:first-of-type
				padding-left: 15vw
				
			&:last-of-type
				padding-right: 15vw
			
			.images
				flexRow()
		
		img
			margin-right: 1em
			max-width: 70vw
			max-height: 60vh
			
			&:last-of-type
				margin-right: 0
				
		figcaption
			margin-top: 0.5em
			font-size: 0.9em
			
	figure
		grid-column: 1 / span 12
		grid-12()
			
		figcaption
			grid-column: 1 / span 12
			font-size: 0.8em
			max-width: 8em
			
	.front
		z-index: 2
	
	#record-cover-the-eccentric-press
		grid-template-rows: 2em 2em auto
		grid-column: 7 / span 6
		margin-top: 3em
		
		.front
			grid-column: 1 / span 8
			grid-row: 1 / span 4
			
		.back
			grid-column: 5 / span 8
			grid-row: 3 / span 4
		
		figcaption
			grid-column: 9 / span 4
			grid-row: 2 / span 1
			align-self: end
			
	#record-cover-factitious-airs
		grid-column: 1 / span 6
		
		.front
			grid-column: 5 / span 8
			grid-row: 2 / span 6
			
		.back
			grid-column: 1 / span 8
			grid-row: 1 / span 6
			
		figcaption
			grid-column: 1 / span 4
			grid-row: 7 / span 1
			max-width: none
			margin-bottom: -10em
			
	#vinyl-factitious-airs
		grid-column: 7 / span 6
		grid-12()
		align-self: end
		
		img
			grid-column: 4 / span 8

	#record-cover-thames
		grid-column: 5 / span 8
		margin-top: 7em
		
		.front
			grid-column: 7 / span 6
			grid-row: 1 / span 1
			
		.back
			grid-column: 1 / span 6
			grid-row: 1 / span 1
			
		figcaption
			grid-column: 8 / span 5
			max-width: none
			text-align: right

	#record-covers-text
		grid-column: 1 / span 3
		grid-row: 6 / span 1
		align-self: end
		margin-bottom: 2em
		
	#logo-text
		grid-column: 1 / span 4
		max-width: 13em		

	#videos
		grid-12()
		margin-top: 5em
		grid-template-rows: 3em 3em auto
		
		#video-the-eccentric-press
			grid-column: 1 / span 10
			grid-row: 2 / span 1
			
		#video-factitious-airs
			grid-column: 2 / span 10
			grid-row: 3 / span 1
			
		#video-thames
			grid-column: 3 / span 10
			grid-row: 1 / span 1
			
		.back
			z-index: 1
			
		.middle
			z-index: 2
			
		.front
			z-index: 3
			
		#click-to-unmute
			grid-column: 2 / span 10
			text-align: right
			display: inline-block
			max-width: none
			margin-top: -0.8em
			font-style: italic




			
		