Cutive = 'Cutive Mono', monospace
WorkSans = 'Work Sans', sans-serif
Franklin = 'Libre Franklin', sans-serif
Myeongjo = 'Nanum Myeongjo', serif
Baskerville = 'Libre Baskerville', 'Baskerville', serif

uppercase()
	text-transform: uppercase
	letter-spacing: 0.02em
	
smallcaps()
	uppercase()
	font-size: 0.8em
	
fontSmoothing()
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	
a {
	text-decoration: none
	border-bottom: 1px solid
}

span.hyphen
	display: inline-block
	transform: translateY(4px)
	
ul
	padding-left: 1.1em
	
	li
		list-style-type: none
		text-indent: -0.6em
		
		&::before
			content: '—'
			position: relative
			left: -0.5em
			
		&.done
			border-bottom: 1px solid
			display: inline-block
			line-height: 0