Cutive = 'Cutive Mono', monospace
WorkSans = 'Work Sans', sans-serif
Franklin = 'Libre Franklin', sans-serif
Myeongjo = 'Nanum Myeongjo', serif

uppercase()
	text-transform: uppercase
	letter-spacing: 0.02em
	
smallcaps()
	uppercase()
	font-size: 0.8em
	
fontSmoothing()
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	
a {
	text-decoration: none
	border-bottom: 1px solid
}