html,
body {
  width: 100vw;
  overflow-x: hidden;
}
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
square()
  width: 100%;
  padding: 1em 5vw;
square()
landscape()
  background: #fff;
  color: #000;
}
header {
  grid-column: 1/span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
square()
  align-items: baseline;
  height: 20vh;
}
header h1,
header h2 {
  grid-column: 1/span 9;
}
header h2 a {
  border-bottom: none;
}
header div {
  grid-column: 10/span 3;
  text-align: right;
}
figure img {
  max-width: 100%;
}
@media (min-height: 500px) {
  figure img {
    max-height: calc(100vh - 8em);
  }
}
.keyline {
  border: 1px solid rgba(0,0,0,0.1);
}
nav#prev-and-next {
  margin-top: 4em;
  grid-column: 1/span 12;
  justify-content: space-between;
square()
}
nav#prev-and-next #prev,
nav#prev-and-next #next {
  max-width: 100%;
  text-align: center;
  padding: 1em 0 1.3em 0;
  border-top: 1px solid rgba(0,0,0,0.1);
square()
}
nav#prev-and-next a {
  display: inline;
}
#work-in-progress {
  grid-column: 2/span 10;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #000;
  text-align: left;
square()
}
#work-in-progress p {
  max-width: none;
}
#home figure {
  position: relative;
  grid-column: 2/span 10;
  margin: 3em 0;
square()
}
#home figure > a {
  border-bottom: none;
}
#home figure:first-of-type {
  margin-top: 0;
}
#home figure.book img {
  filter: drop-shadow(0.8em 0.8em 0.6em rgba(0,0,0,0.5));
}
#home figure.book.demy img {
  max-height: calc(100vh - 6em);
}
#home figure.book.b-format img {
  max-height: calc(100vh - 9em);
}
#home figure.vinyl img {
  filter: drop-shadow(0.2em 0.2em 0.2em rgba(0,0,0,0.5));
}
#home figure.website video {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 8em);
  border-radius: 5px;
  object-fit: cover;
}
#home figure#persistence-of-sound {
  grid-column: 1/span 12;
  display: block;
square()
}
#home figure#persistence-of-sound .images {
  grid-column: 1/span 12;
  grid-row: 1/span 2;
  display: grid;
  grid-gap: 10px;
square()
square()
}
#home figure#persistence-of-sound .images #the-eccentric-press {
  grid-column: 3/span 5;
  grid-row: 1/span 5;
  z-index: 2;
}
#home figure#persistence-of-sound .images #factitious-airs {
  grid-column: 1/span 5;
  grid-row: 2/span 5;
  z-index: 1;
}
#home figure#persistence-of-sound .images #thames {
  grid-column: 4/span 5;
  grid-row: 3/span 5;
  z-index: 3;
}
#home figure#persistence-of-sound figcaption {
  grid-column: 1/span 12;
  grid-row: 2/span 1;
  margin-bottom: calc(calc((100vw - 13em) / 12) * 3);
square()
}
#home figcaption {
  margin-top: 0.5em;
  font-size: 0.8em;
  max-width: 28em;
}
#home .feature figcaption {
  font-size: 1em;
}
