html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #fff;
  color: #000;
  font-size: 22px;
  font-family: Cutive;
  letter-spacing: -0.02em;
}
body {
  align-items: flex-end;
}
body p {
  margin-top: 1em;
}
header,
footer {
  flex-shrink: 0;
  align-self: center;
}
header {
  width: calc(100vw - 100vh);
  padding: 0 5% 5% 5%;
}
header h1 {
  font-family: Myeongjo;
  font-weight: normal;
  margin-bottom: 0.5em;
}
footer {
  width: calc(100vw - 100vh + 8%);
  padding: 0 5% 5% 5%;
  padding-right: 15%;
}
.book {
  height: 100vh;
  display: inline-block;
  align-items: flex-end;
  flex-shrink: 0;
}
.book img {
  height: 100%;
}
.book +.a-format {
  height: 90%;
}
.book +.b-format {
  height: 93%;
}
