#statistics-without-tears figure#old-cover {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 2em;
  min-height: auto;
}
#statistics-without-tears figure#old-cover img {
  max-height: 200px !important;
  margin-right: 1em;
}
