@media (min-aspect-ratio: 105/100) and (min-height: 500px) {
  #statistics-without-tears #new-cover {
    grid-row: 2/span 2;
  }
}
@media (min-aspect-ratio: 13/9) and (min-height: 500px) {
  #statistics-without-tears #new-cover {
    grid-row: 2/span 1;
    grid-column: 6/span 6;
  }
}
#statistics-without-tears #aside {
  grid-column: 1/span 12;
  margin-top: 1em;
  align-self: end;
}
@media (min-aspect-ratio: 105/100) and (min-height: 500px) {
  #statistics-without-tears #aside {
    grid-row: 3/span 1;
    grid-column: 1/span 5;
  }
}
@media (min-aspect-ratio: 13/9) and (min-height: 500px) {
  #statistics-without-tears #aside {
    grid-row: 2/span 1;
    grid-column: 12/span 1;
  }
}
#statistics-without-tears #aside figure,
#statistics-without-tears #aside .image {
  align-items: flex-end;
  min-height: unset;
}
@media (min-aspect-ratio: 13/9) and (min-height: 500px) {
  #statistics-without-tears #aside figure,
  #statistics-without-tears #aside .image {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }
}
#statistics-without-tears #aside img {
  max-height: 200px;
  margin-right: 0.5em;
}
#statistics-without-tears #aside figcaption,
#statistics-without-tears #aside .text {
  text-align: left;
  max-width: 8em;
}
@media (min-aspect-ratio: 13/9) and (min-height: 500px) {
  #statistics-without-tears #aside figcaption,
  #statistics-without-tears #aside .text {
    margin-top: 0.5em;
  }
}
