html,
body {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  line-height: 1.3;
below(500px)
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
}
a.button {
  margin: 1em;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
below(500px)
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h1 + ol,
h2 + ol,
h3 + ol,
h4 + ol,
h1 + dl,
h2 + dl,
h3 + dl,
h4 + dl {
  margin-top: 1em;
}
h4 {
  font-size: 1em;
  opacity: 0.5;
}
p,
ul,
ol,
dl {
  max-width: 24em;
}
p + p,
ul + p,
ol + p,
dl + p,
p + ul,
ul + ul,
ol + ul,
dl + ul,
p + ol,
ul + ol,
ol + ol,
dl + ol,
p + dl,
ul + dl,
ol + dl,
dl + dl {
  margin-top: 1em;
}
li,
dd {
  margin-bottom: 0.2em;
}
