html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html,
body {
  width: 100%;
  font-size: 22px;
  background: #fafcfe;
  color: #141414;
  font-family: "baskerville-display-pt", serif;
  line-height: 1.4;
}
section {
  padding: 5vh 5vw;
  position: relative;
  padding-bottom: 6em;
}
@media only screen and (max-width: 700px) {
  section {
    padding-bottom: 4em;
  }
}
.text-area {
  margin: 5em auto 7em;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .text-area {
    margin: 2em auto 4em;
  }
}
img {
  max-width: 100%;
  margin: 0;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.06), 0 5px 15px 0 rgba(0,0,0,0.04);
}
h2 {
  font-family: "monotype-grotesque", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid;
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  h2 {
    font-size: 0.7em;
  }
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 44rem;
  font-size: 1.5em;
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 1.3em;
  }
}
p.small {
  font-size: 0.8em;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  margin: 0 auto;
}
p a:link,
p a:visited {
  color: inherit;
  font-weight: inherit;
}
p a:hover,
p a:focus {
  color: #c73547;
}
span.keep {
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  span.keep {
    display: inline;
  }
}
button,
.button {
  display: inline-block;
  padding: 1em 1.5em;
  margin: 0.5em 0;
  background: #00d58e;
  color: #fafcfe;
  font-family: "monotype-grotesque", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  font-size: 0.9em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.06), 0 5px 15px 0 rgba(0,0,0,0.04);
  margin-bottom: 2.5em;
}
button:hover,
.button:hover,
buttonfocus,
.buttonfocus {
  transform: scale(1.02);
  background: #00a26c;
}
#standfirst {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  background: #fafcfe;
  color: #141414;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 5vh;
}
#standfirst p {
  max-width: 90vw;
}
#monarchs {
  background: #d6e9e5;
  margin-top: 80vh;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.06), 0 5px 15px 0 rgba(0,0,0,0.04);
  padding-bottom: 6em;
}
#monarchs #a {
  width: 60%;
  display: block;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1000px) {
  #monarchs #a {
    width: 78%;
  }
}
@media only screen and (max-width: 700px) {
  #monarchs #a {
    width: 100%;
  }
}
#monarchs #b {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  top: -33.5vw;
  margin-bottom: -33.5vw;
}
@media only screen and (max-width: 1000px) {
  #monarchs #b {
    top: -10vw;
    margin-bottom: -10vw;
  }
}
@media only screen and (max-width: 700px) {
  #monarchs #b {
    top: 0;
    margin-bottom: 0;
  }
}
#monarchs #c {
  width: 40%;
}
@media only screen and (max-width: 1000px) {
  #monarchs #c {
    display: none;
  }
}
#monarchs #d {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
}
@media only screen and (max-width: 700px) {
  #monarchs #d {
    display: none;
  }
}
#monarchs #e {
  width: 70%;
  max-width: 18em;
  margin-left: 4vw;
  margin-bottom: 4vw;
  text-align: left;
  position: relative;
  left: 20%;
}
@media only screen and (max-width: 1000px) {
  #monarchs #e {
    display: none;
  }
}
#monarchs #g {
  display: none;
  margin-right: 5vw;
  max-width: 30em;
}
@media only screen and (max-width: 1000px) {
  #monarchs #g {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  #monarchs #g {
    margin-top: 2em;
  }
}
#street-london {
  background: #283038;
  color: #fafcfe;
}
#street-london img {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3), 0 5px 15px 0 rgba(0,0,0,0.2);
}
#street-london #a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 6%;
}
@media only screen and (max-width: 1100px) {
  #street-london #a {
    padding: 0 0;
  }
}
#street-london #b {
  width: 80%;
}
#street-london #d {
  width: 17.8%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}
#street-london #e {
  margin-bottom: 1vw;
}
#seven-brief-lessons {
  background: #fafcfe;
  color: #141414;
}
#seven-brief-lessons #a {
  text-align: center;
}
#seven-brief-lessons #b {
  max-width: 500px;
  width: 30vw;
  position: absolute;
  transform: translateX(-51%) translateY(-20%);
  z-index: 3;
}
#seven-brief-lessons #c {
  position: relative;
  z-index: 2;
  left: -10vw;
}
@media only screen and (max-width: 1100px) {
  #seven-brief-lessons #c {
    left: 0;
  }
}
#seven-brief-lessons #d {
  max-width: 600px;
  width: 40vw;
  position: absolute;
  transform: translateX(-71%) translateY(-20%);
  z-index: 1;
}
@media only screen and (max-width: 1100px) {
  #seven-brief-lessons #d {
    display: none;
  }
}
#david-bailey {
  background: #283038;
  color: #fafcfe;
  text-align: center;
}
#david-bailey img {
  width: 100%;
  max-width: 44em;
}
#pelican {
  background: #d6e9e5;
}
#pelican #a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5%;
}
@media only screen and (max-width: 1000px) {
  #pelican #a {
    padding: 0;
  }
}
@media only screen and (max-width: 700px) {
  #pelican #a {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
#pelican #b {
  width: 33%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 700px) {
  #pelican #b {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5vw;
  }
}
#pelican #c {
  width: 78%;
  margin-bottom: 10%;
}
@media only screen and (max-width: 700px) {
  #pelican #c {
    width: 58%;
    margin-bottom: 0;
    margin-right: 5vw;
  }
}
#pelican #d {
  width: 100%;
}
@media only screen and (max-width: 700px) {
  #pelican #d {
    width: 35%;
  }
}
#pelican #e {
  width: 60%;
}
@media only screen and (max-width: 700px) {
  #pelican #e {
    width: 98.5%;
  }
}
#pelican #g {
  margin-top: 5%;
  width: 100%;
  max-width: 16em;
  margin-left: 0;
}
@media only screen and (max-width: 700px) {
  #pelican #g {
    max-width: 30em;
  }
}
#finale {
  background: #fafcfe;
}
#finale .text-area {
  max-width: 34em;
  margin-top: 8em;
  margin-bottom: 5em;
}
#finale #v {
  letter-spacing: -0.1em;
}
#finale #ampersand {
  letter-spacing: -0.1em;
}
#thank-you {
  background: #283038;
  color: #fafcfe;
  padding-bottom: calc(5vh - 2em);
}
