dawkinsYellow = rgb(234,188,0)

body#dawkins
	background-color: dawkinsYellow
	
	#intro
		padding: 4vw 0
		flexColumn()
		flexCenter()
		min-height: 80vh

		+above(1400px)
			margin-left: 37vw
			
		h1 + h3
			margin-top: 0
			
	#triple
		margin-top: -8.5%