html
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
		
flex()
	display: flex
	flex-wrap: nowrap

flexRow()
	flex()
	flex-direction: row
	
flexColumn()
	flex()
	flex-direction: column
	
flexCenter()
	flex()
	justify-content: center
	align-content: center

html, body
	width: 100%
	height: 100%
	font-size: 24px

body-padding = 10vh

body
	background-color: white
	color: black
	font-family: Baskerville
	line-height: 1.4
	padding: body-padding
	flexRow()
	
nav
	padding-right: "calc(%s + 1vh)" % body-padding
	border-right: 1px solid black
		
figure.book-cover
	padding-left: 1vh
	&.simple
		width: 100%
		height: 100%
		flexRow()
		
		img
			height: 100vh
			margin-top: "calc(-1 * %s)" % body-padding

