@font-face {
	font-family: "New Hero";
	font-style: bold;
 	font-weight: 600;	
	src:	url("@@root_path/assets/fonts/heronew-bold.eot") format("eot"),
			url("@@root_path/assets/fonts/heronew-bold.woff") format("woff"),
			url("@@root_path/assets/fonts/heronew-bold.ttf") format("truetype")
}

basic = "ff-basic-gothic-web-pro"
newHero = "New Hero"

body
	text-rendering: optimizeLegibility
	font-variant-ligatures: common-ligatures
	font-feature-settings: "kern", "liga"
	font-kerning: normal
	
uppercase()
	text-transform: uppercase
	letter-spacing: 0.02em
	
smallcaps()
	uppercase()
	font-size: 0.8em
	
fontSmoothing()
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	
basic()
	font-family: "ff-basic-gothic-web-pro"
	letter-spacing: -0.015em

