Baskerville = "baskerville-urw", "Baskerville URW++", "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif
Courier = "courier-prime", "Courier Prime", "Courier New", "Courier", monospace
Johnston = "Johnston", "p22-underground", "Gill Sans", "Gill Sans MT", sans-serif
Gill = "Gill Sans", "Gill Sans MT", sans-serif


body
	text-rendering: optimizeLegibility
	font-variant-ligatures: common-ligatures
	font-feature-settings: "kern", "liga"
	font-kerning: normal
	
uppercase()
	text-transform: uppercase
	letter-spacing: 0.02em
	
smallcaps()
	uppercase()
	font-size: 0.8em
	
fontSmoothing()
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased