
/*	--------------------------------------------------
	Global Reset & Standards
	-------------------------------------------------- */


/*	-------------------------------------------------- */


*, body {
	margin: 0;
	padding: 0;
	font: normal Trebuchet, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	text-align: center;	
}

#content-wrapper {
	width: 960px;
	margin: 0 20px 0 20px;
	padding: 0;
	font: normal 13px/17px Trebuchet, Arial, sans-serif;
	color: #000;
	text-align: left;
}

.masthead {
	position: relative;
	display: block;
	width: 960px;
	margin: 0;
	padding: 0;
	text-align: left;
	background: #FFF;
}

.masthead-penguin-logo {
	width: 500px;
	height: 75px;
	margin: 20px 0 0 233px;
	padding: 0;
	text-align: center;
}

span.masthead-penguin-text-left {
	float: left;
	margin: 30px 0 0 0;
	padding: 0;
	letter-spacing: 16px;
}

span.masthead-penguin-text-right {
	float: left;
	margin: 30px 0 0 0;
	padding: 0;
	letter-spacing: 12px;
}

.masthead-penguin-logo-img {
	float: left;
	display: block;
	width: 44px;
	margin: 0 40px 0 30px;
	padding: 0;
	height: 75px;
	background: url(../images/penguin_masthead_logo.png) no-repeat;
}

.masthead-penguin-logo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 75px;	
}

.masthead-penguin-logo ul li {
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	text-align: center;
	
	font: normal 18px/18px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #000;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	
	letter-spacing: 10px;
	background: #FFF;
	
	display: table-cell;
	vertical-align: middle;
}	

.masthead-penguin-logo ul li a {
	display: table-cell;
	height: 75px;	
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: middle;
	color: #000
}

.masthead-penguin-logo ul li img {
	margin: 0 20px 0 20px;
	padding: 0;
}



/*====================== USER ACCOUNT ======================*/


.masthead-useracc {
	position: absolute;
	top: 30px;
	right: 0;
	margin: 0;
	padding: 0;
	
	font: normal 18px/23px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #000;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	
	text-align: right;
}

.masthead-useracc a {
	text-decoration: none;
	font: normal 18px/23px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #000;
}

.masthead-useracc a:hover {
	text-decoration: none;
	font: normal 18px/23px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FF6600;
}


/*====================== USER ACCOUNT FINISH ======================*/






#topnavigation {
	margin: 30px 0 0 0;
	padding: 0;
	height: 42px;	
}


#topnavigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 42px;	
}

#topnavigation ul li {
	float: left;
	margin: 0;
	padding: 2px 0 0 0;
	text-align: center;
	
	font: normal 10px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #000;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	font-weight: 600;
	
	letter-spacing: 4px;
	background: #FFF;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;	
}

#topnavigation ul li a {
	display: table-cell;
	width: 120px;
	height: 38px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: middle;
	color: #000
}

#topnavigation ul li a:hover {
	display: table-cell;
	width: 120px;
	height: 38px;	
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: middle;
	color: #999
}

#topnavigation ul li a.browsecatalogue:hover {
	cursor: pointer;
}

#browse {
	cursor: pointer;
}



#browse-navigation {
	position: absolute;
	top: 146px;
	left: 0;
	display: none;
	width: 918px;
	height: 432px;
	margin: 0;
	padding: 20px;
	border: solid 1px #000;
	z-index: 10;
	
	background: url(../images/white.png) #FFF;
}


#browse-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#browse-navigation ul li {
	float: left;
	margin: 0;
	padding: 0;
	
	font: lighter 25px/28px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	color: #000;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	
	width: 228px;
}

span.letterspace-0 {
	margin: 0;
}
span.letterspace-1 {
	margin: 0 0 0 -1px;
}
span.letterspace-2 {
	margin: 0 0 0 -2px;
}
span.letterspace-3 {
	margin: 0 0 0 -3px;
}
span.letterspace-4 {
	margin: 0 0 0 -4px;
}

#browse-navigation ul li a {
	font-weight: 500;
	text-decoration: none;
	color: #000;
	display: block;	
}

#browse-navigation ul li a:hover {
	font-weight: 500;
	text-decoration: none;
	color: #FF6600;
	display: block;
}


#browse-navigation ul li ul.browse-subcatagory {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
	border: none;
	
	background: #FFF;
}

#browse-navigation ul li ul.browse-subcatagory li {
	margin: 0 0 5px 0;
	padding: 0;
	
	font: lighter 18px/21px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	color: #000;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	
	width: 228px;
}

#browse-navigation ul li ul.browse-subcatagory li a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	width: 228px;	
	display: block;
	
	background: url(../images/white.png) #FFF;	
}

#browse-navigation ul li ul.browse-subcatagory li a:hover {
	text-decoration: none;
	color: #FF6600;
	font-weight: 500;
	width: 228px;
	margin: 0;
	display: block;
	
	background: url(../images/white.png) #FFF;
}

ul.browse-subcatagory img {
	float: left;
	width: 90px;
	height: 142px;
	margin-top: 5px;
	border: none 0;
}


ul.browse-subcatagory img:first-child {
	margin-right: 15px;
}




/*========================================= SOCIAL BUTTONS =========================================*/

.social-search-subscribe {
	clear: both;
	height: 36px;
	display: block;
	margin: 16px 0 9px 0;
	padding: 0;
	text-align: center;
}

.social-search-subscribe-social {
	float: left;
	margin: 0;
	padding: 0;
}

.social-search-subscribe-social ul {
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0;
	width: 58px;
	height: 26px;
}

.social-search-subscribe-social ul li {
	float: left;
	margin: 0 0 0 6px;
	padding: 0;		
}

.social-search-subscribe-social ul li.first {
	float: left;
	margin: 0;
	padding: 0;		
}

.social-search-subscribe-social ul li a.facebook {
	background: url(../images/social_icons.png) no-repeat left 0;
	width: 26px;
	height: 26px;
	display: block;	
}

.social-search-subscribe-social ul li a.facebook:hover {
	background: url(../images/social_icons.png) no-repeat left -26px;	
}

.social-search-subscribe-social ul li a.twitter {
	background: url(../images/social_icons.png) no-repeat -26px 0;
	width: 26px;
	height: 26px;
	display: block;
}

.social-search-subscribe-social ul li a.twitter:hover {
	background: url(../images/social_icons.png) no-repeat -26px -26px;	
}

/*========================================= SOCIAL BUTTONS FINISH =========================================*/




/*========================================= SEARCH =========================================*/
.social-search-subscribe-search {
	float: left;
	margin: 2px 0 0 175px;
	padding: 0;
	width: 466px;
	height: 26px;
	height: 27px\9;
	border: 1px solid #999;
}




.form-input {
	float: left;
	margin: 4px 0 0 4px;
	margin: 6px 0 0 4px\9;
	padding: 0;
	border: 0;
	width: 362px;
	
	/*background: #CCC;*/
	
	font: normal 14px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #999;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}


.search-button {
	float: right;
	margin: 0;
	padding: 0;
	padding: 5px 0 0 0\9;
}

input[type=submit] {
	font: normal 15px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #999;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	
	border: none 0;
	
	background: url(../images/search_bk1.png) no-repeat #FFF;
	
	margin: 0;
	margin: -7px 0 0 0\9;
	padding: 0 0 0 14px;
	width: 100px;
	height: 26px;
	cursor: pointer;
}

input[type=submit]:hover {
	font: normal 15px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FF6600;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	
	border: none 0;
	
	background: url(../images/search_bk1.png) no-repeat #FFF;
		
	margin: 0;
	margin: -7px 0 0 0\9;	
	padding: 0 0 0 14px;

	width: 100px;
	height: 26px;
	cursor: pointer;
}


/*========================================= SEARCH FINISH =========================================*/



/*========================================= NEWSLETTER =========================================*/
.social-search-subscribe-subscribe {
	float: right;
	text-align: right;
	margin-top: 5px;
	font: normal 15px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}

.social-search-subscribe-subscribe a {
	text-decoration: none;
	font: normal 15px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	cursor: pointer
}

.social-search-subscribe-subscribe a:hover {
	text-decoration: none;
	font: normal 15px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FF6600;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	cursor: pointer
}


.newsletter-content {
	position: relative; 
	width: 918px;
	height: 355px;
	display: none;
	margin: 0;
	padding: 20px;
	
	border: 1px solid #000
}

.newsletter-content-left {
	float: left;
	width: 439px;
	margin: 0 20px 0 0;
	padding: 0;

}

.newsletter-content-right {
	float: left;
	width: 438px;
	margin: 0;
	padding: 0 0 0 20px;
	border-left: 1px solid #CCC	
}


label {
    float: left;
    margin: 0;
	padding: 5px 0 0 0;
    width: 120px;
}

span.star {
	color: #FF6600
}

.newsletterinput {
    border: 1px solid #FF6600;
    font: normal 15px/18px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
    margin: 0 0 2px;
    padding: 3px;
    width: 300px;
}


input.newsletter-submit[type=submit] {
	display: block;
	width: 100px;
	height: 30px;
	margin: 0;
	padding: 0;
	
	background: #FF7309; /* Old browsers */
	
	background: -moz-linear-gradient(top, #FFA56A 0%, #FF7309 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFA56A), color-stop(100%,#FF7309)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFA56A 0%,#FF7309 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFA56A 0%,#FF7309 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFA56A 0%,#FF7309 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFA56A 0%,#FF7309 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA56A', endColorstr='#FF7309',GradientType=0 ); /* IE6-9 */	
	
	cursor: pointer;
	text-decoration: none;
	font: normal 15px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FFF;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}

input.newsletter-submit[type=submit]:hover {
	display: block;
	width: 100px;
	height: 30px;
	margin: 0;
	padding: 0;
	
	background: #FF7309; /* Old browsers */
	
	background: -moz-linear-gradient(top, #FFA56A 0%, #FF7309 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFA56A), color-stop(100%,#FF7309)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFA56A 0%,#FF7309 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFA56A 0%,#FF7309 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFA56A 0%,#FF7309 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFA56A 0%,#FF7309 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA56A', endColorstr='#FF7309',GradientType=0 ); /* IE6-9 */	
	
	cursor: pointer;
	text-decoration: none;
	font: normal 15px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #000;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}




.newsletter-content-closebtn {
	position: absolute;
	width: 918px;
	height: 40px;
	bottom: 0;
	text-align: center;
	border-top: 1px solid #CCC;
	margin: 0;
	padding: 10px 0 0 0;
}

.newsletter-content-closebtn-close {	
	display: block;
	width: 100px;
	height: 23px;
	margin: 0 auto;
	padding: 7px 0 0 0;
	
	background: #919191; /* Old browsers */
	
	background: -moz-linear-gradient(top, #919191 0%, #BABABA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919191), color-stop(100%,#BABABA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #919191 0%,#BABABA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #919191 0%,#BABABA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #919191 0%,#BABABA 100%); /* IE10+ */
	background: linear-gradient(to bottom, #919191 0%,#BABABA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#BABABA',GradientType=0 ); /* IE6-9 */	
	
	cursor: pointer;
	text-decoration: none;
	font: normal 15px/16px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FFF;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}

.newsletter-content-closebtn-close:hover {	
	color: #000;
}


h2.newsletter-title {
	font : normal 25px/28px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	margin: 0 0 10px 0;
	padding: 0;
}

abbr[title], acronym[title] {
     border-bottom-width: 0;
   }

/*========================================= NEWSLETTER FINISH =========================================*/

/*========================================= BROWSE LANDING PAGE TTILE =========================================*/

.catalogue-browse {
	border-top: 1px solid #000;
	height: 39px;
	margin: 0;
	padding: 10px 0 0 0;
}

h2.catalogue-broswe-title {
	margin: 0;
	padding: 0;
	font : normal 25px/28px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}

h2.catalogue-broswe-title-italic, .catalogue-broswe-title-italic {
	margin: 0;
	padding: 0;
	font : normal 30px/33px 'baskerville_italic', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}


/*========================================= BROWSE LANDING PAGE TTILE FINISH =========================================*/


.hero-image {
	clear: both;
	display: block;
	width: 958px;
	height: 400px;
	margin: 0 0 25px 0;
	padding: 0;	
	text-align: left;
	border: 1px solid #CCC
}

.hero-image-landing {
	position: relative;
	clear: both;
	display: block;
	width: 958px;
	height: 350px;
	margin: 0 0 25px 0;
	padding: 0;	
	text-align: left;
	border: 1px solid #CCC
}

.hero-image-landing-text {

	text-align: left;
	padding: 0;
    position: absolute;
    left: 20px;
    bottom: 0;
	height: 200px;
    width: 500px; }

	
.hero-image-landing h2.hero-image-title {
	margin: 0;
	padding: 0;
	font : normal 25px/28px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}	


.hero-image-landing p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: left;
	font: lighter 18px/21px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;

}


.container {
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin: -300px 0 0 -470px;
}
	
	
/*========================================= PANEL OVERLAYS =========================================*/

/*========= DEFAULTS =======*/

.boxcaption h3 {
	margin: 10px 20px 8px 20px;
	font : normal 22px/25px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}

.boxcaption h3 a {
	text-decoration: none;
	font : normal 22px/25px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	text-rendering: optimizelegibility;
	color: #333;
}

.boxcaption h3 a:hover {
	text-decoration: none;
	font : normal 22px/25px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #FF6600;
}

a.panel-link { 
	text-decoration: none;
	color: #FF6600;
}

a.panel-link:hover {
	text-decoration: none;
	color: #333;
}
	
.boxcaption { 
	float: left; 
	position: absolute; 
	padding-top: 25%;	
	
	height: 300px; 
	width: 100%; 
	opacity: .85;
	background: #FFF;
	background: url(../images/white_90.png)\9; 	
}


.caption .boxcaption {
	top: 300px;
	left: 0;
}


.panel-2 img, .panel-3 img, .panel-4 img, .panel-6 img { 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
}
.panel-2 p, .panel-3 p, .panel-4 p, .panel-6 p {
	padding: 0 20px 10px 20px; 
	font: lighter 18px/21px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}


/*========= PANEL SIZES =======*/
.panel-2 {
	position: relative;
	overflow: hidden;
	
	float: left;
	width: 223px;
	height: 300px;
	margin: 0 0 0 20px;
	padding: 0;
	text-align: left;
	border: 1px solid #CCC	
}

.panel-3 {
	position: relative;
	overflow: hidden;
	 
	float: left;
	width: 345px;
	height: 300px;
	margin: 0 0 0 20px;
	padding: 0;
	text-align: left;
	border: 1px solid #CCC	
}

.panel-4 {
	position: relative;
	overflow: hidden; 
	
	float: left;
	width: 468px;
	height: 300px;
	margin: 0 0 0 20px;
	padding: 0;
	text-align: left;
	border: 1px solid #CCC
}

.panel-6 {
	position: relative;
	overflow: hidden;
	
	float: left;
	width: 713px;
	height: 300px;
	margin: 0 0 0 20px;
	padding: 0;
	text-align: left;
	border: 1px solid #CCC	
}

/*========================================= PANEL OVERLAYS FINISH =========================================*/


.first {
	margin: 0;
	padding: 0;
}

.marginbottom {
	margin-bottom: 20px;
	padding: 0;
}

.noborder {
	border: none 0;
}

/*========================================= LEFT/RIGHT NAVIGATION =========================================*/

.leftnav {
	border: none 0;
	margin: 0 2px 0 0;
	padding: 0;
	height: 400px;
	text-align: left;
}

.world {
	height: 700px;
}

.leftnav ul, .textcontent ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
}

.rightnav ul {
	margin: 20px 0 0 0;
}

.leftnav ul li, .rightnav ul li {
	margin: 0 0 5px 0;
	padding: 0;
}


.leftnav ul li a, .rightnav ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: left;
	font: lighter 18px/21px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}

.leftnav ul li a:hover, .rightnav ul li a:hover {
	margin: 0;
	padding: 0;
	text-align: left;
	font: lighter 18px/21px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #FF6600;
}


.rightnav {
	border: none 0;
	margin: 0 0 0 24px;
	padding: 0;
	height: 800px;
	text-align: left;
}

.minus43 {
	margin: -43px 0 0 24px;
}

.minus38 {
	margin: -38px 0 0 24px;
}

.rightnav #author-az-image img {
	position: relative;
	margin: 20px 0 0 0;
	padding: 0;
	width: 223px;
}


/*========================================= LEFT NAVIGATION FINISH =========================================*/


/* ==================================== BODYCOPY STYLES ============================*/


.newsletter-bodycopy {
	margin: 0 0 15px 0;
	padding: 0;
	font : normal 19px/22px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}

.newsletter-bodycopy-label {
	margin: 0 0 15px 0;
	padding: 0;
	font : normal 16px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}

.newsletter-bodycopy-sml {
	margin: 0 0 15px 0;
	padding: 0;
	font : normal 16px/19px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	color: #666;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
}

.newsletter-bodycopy-sml a {
	text-decoration: none;
	color: #FF6600;
}

.newsletter-bodycopy-sml a:hover {
	text-decoration: none;
	color: #666;
}

.textcontent {
	position: relative;
	float: left;
	width: 713px;
	margin: 0;
	padding: 0;
	text-align: left;
}

.textcontent p {
	color: #333333;
    font: lighter 18px/21px 'baskerville','Dejavu Serif',Constantia,'Times New Roman',Times,serif;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizelegibility;
}


.textcontent .body-title {
	margin: 25px 0 15px 0;
	padding: 0 0 10px 0;
	font : normal 25px/28px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
	display: block;
	border-bottom: 1px solid #000
}

.textcontent .body-title-sub {
	margin: 15px 0 5px 0;
	padding: 0;
	font : normal 22px/25px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}

/* ==================================== COOKIE STYLES ============================*/
#cookie .cookiecontainer {
    clear: both;
    width: 710px;
    margin: 25px 0 35px 0;
    padding: 0;
    font: normal 13px/17px "Trebuchet MS";
    color: #000;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;    
    border-left: 1px solid #CCC;
}
 
#cookie .cookiecontainer-title {
    display: block;
    width: 710px;
    height: 30px;
    background: #f3f3f3;
    font: lighter 18px/21px 'baskerville','Dejavu Serif',Constantia,'Times New Roman',Times,serif;
    color: #666;
    margin: 0;
    padding: 0;
}

#cookie .cookie-title {
    float: left;
    width: 220px;
    height: 25px;
    margin: 0;
    padding: 5px 0 0 0;
    text-indent:8px;
    border-right: 1px solid #CCC;
}

#cookie .cookiecontainer .cookie-description {
    float: left;
    width: 460px;
    height: 25px;
    margin: 0;
    padding: 5px 0 0 8px; 
}

#cookie .cookie-type {
    display: block;
    width: 702px;
    height: 21px;
    font: lighter 18px/21px 'baskerville','Dejavu Serif',Constantia,'Times New Roman',Times,serif;
    color: #666;
    margin: 0;
    padding: 5px 0 3px 8px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
 } 

#cookie .cookie-information {
    width: 710px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #CCC;
    overflow: auto;
} 

#cookie .cookie-id  {
    float: left;
    width: 220px;
    margin: 0;
    padding: 0;
    border-right: 1px solid #CCC;
}

#cookie .cookie-information .cookie-id span  {
    display: block;
    width: 220px;
    height: 25px;
    margin: 0;
    padding: 5px 0 5px 0;
    text-indent:8px;
    border-bottom: 1px solid #CCC;
}

#cookie .cookie-information .cookie-id span:last-child { border-bottom: none; }



.deliverydetails {
	width: 520px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	font: lighter 18px/21px 'baskerville','Dejavu Serif',Constantia,'Times New Roman',Times,serif;
    color: #333;
	overflow: auto;
}	

.deliverydetails .regiontitle {
	clear: both;
	float: left;
	width: 279px;
	margin: 0;
	padding: 10px;
	font: normal 18px/21px 'baskerville','Dejavu Serif',Constantia,'Times New Roman',Times,serif;
    color: #333;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.deliverydetails .cost {
	float: left;
	width: 200px;
	margin: 0;
	padding: 10px;
	font: normal 18px/21px 'baskerville','Dejavu Serif',Constantia,'Times New Roman',Times,serif;
    color: #333;
	border-top: 1px solid #CCC;	
}



/* ==================================== COOKIE STYLES FINISH ============================*/




/* ==================================== BODYCOPY STYLES FINISH ============================*/

/* ==================================== AUTHOR A-Z ============================*/

.author-a-z {
	width: 713px;
	margin: 0;
	padding: 0;
}

.author-a-z ul {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
}

.author-a-z ul li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
}

.author-a-z ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: left;
	font: normal 25px/26px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}

.author-a-z ul li a:hover {
	text-decoration: none;
	color: #FF6600;
}


.author-a-z-list {
	width: 713px;
	margin: 0;
	padding: 0;
}

.author-a-z-list ul {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
}

.author-a-z-list ul li {
	float: left;
	margin: 0 0 15px 0;
	padding: 0;
	width: 237px
}

.author-a-z-list ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: left;
	font: lighter 18px/21px 'baskerville', 'Dejavu Serif',Constantia,'Times New Roman', Times, serif;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;*/
	text-rendering: optimizelegibility;
	color: #333;
}

.author-a-z-list ul li a:hover {
	text-decoration: none;
	color: #FF6600;
}





/* ==================================== AUTHOR A-Z FINISH ============================*/





#footer-wrapper {
	clear: both;
	background: url(../images/shadow3.png) repeat-x top #242424;
	width: 100% !important;
	margin: 0;
	padding: 0;
	text-align: center
}

#footer-wrapper-wrapper {
	width: 1000px;
	height: 360px;
	margin: 0 auto;
	padding: 0;
	text-align: center;	
}


.footer-title {
	clear: both;
	margin: 0;
	padding: 0;
	text-align: left;
	font: normal 15px/18px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #CCC;
}



.footer-left {
	float: left;
	width: 529px;
	margin: 0 0 0 20px;
	padding: 20px 0 0 0;
	height: 185px;
	font: normal 14px/17px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #CCC;
	text-align: left;
}

.footer-left ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-left ul li {
	float: left;
	margin: 0;
	padding: 0;
	
}

.footer-left ul li a {
	margin: 0 30px 0 0;
	padding: 0;
	text-decoration: none;
	text-align: left;
	font: normal 13px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FFF;
}

.footer-left ul li a:hover {
	margin: 0 30px 0 0;
	padding: 0;
	text-align: left;
	font: normal 13px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #CCC;
}

.footer-right {
	float: right;
	width: 400px;
	height: 170px;
	margin: 0 20px 0 0;
	padding: 20px 0 0 30px;
	text-align: left;
	border-left: 1px solid #242424;	
}



.footer-social {
	float: left;
	margin: 0;
	padding: 0;
}

.footer-social ul {
	list-style-type: none;
	margin: 0 10px 15px 0;
	padding: 0;
	width: 224px;
	height: 45px;
}

.footer-social ul li {
	float: left;
	margin: 0;
	padding: 0;		
}

.footer-social ul li.follow-share-title {
	float: left;
	width: 125px;
	height: 35px;
    margin: 0;
    padding: 17px 0 0;
	font: normal 15px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #CCC;
}

.footer-social ul li a.facebook {
	float: left;
	background: url(../images/social_icons_footer.png) no-repeat left 0;
	width: 45px;
	height: 45px;
	display: block;	
}

.footer-social ul li a.facebook:hover {
	float: left;
	background: url(../images/social_icons_footer.png) no-repeat left -45px;	
}

.footer-social ul li a.twitter {
	float: left;
	background: url(../images/social_icons_footer.png) no-repeat -45px 0;
	width: 45px;
	height: 45px;
	display: block;
}

.footer-social ul li a.twitter:hover {
	float: left;
	background: url(../images/social_icons_footer.png) no-repeat -45px -45px;	
}



.footer-social-share {
	float: left;
	margin: 0;
	padding: 0;
	width: 166px;	
}

.footer-social-share ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 165px;
	height: 45px;
}

.footer-social-share ul li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
	height: 45px;
	width: 45px;
		
}

.footer-social-share ul li.last {
	margin: 0;
	padding: 0;		
}



.footer-dropdown {
	margin: 10px 0 10px 0;
	padding: 0;
	font: normal 15px/18px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #FFF;
	text-align: left;
}


.footer-base {
	clear: both;
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	font: normal 12px/15px 'futuraextendedregular', Trebuchet, Arial, sans-serif;
	color: #999;
	text-align: left;
}

.footer-base a {
	text-decoration: none;
	color: #FFF;
}

.footer-base a:hover {
	text-decoration: none;
	color: #CCC;
}



/*===================== SHARRRE ======================*/


.sharrre{
margin:0;
float:left;
}

.sharrre .box {
	margin: 0;
	padding 0;
}

.sharrre .box a:hover{
	text-decoration:none;
}
.sharrre .count {
position:relative;
display:block;
margin: 0;
padding: 3px 0 0 0;
width:45px;
height:19px;
font: normal 11px "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
text-align:center;
color: #CCC;
text-decoration:none;
}

.sharrre .count:before, .sharrre .count:after {
content:'';
display:block;
position:absolute;
width:0;
height:0;
text-decoration:none;
}
.sharrre .count:before {
margin-left:-7px;
bottom: -14px;
text-decoration:none;
}
.sharrre .count:after {
margin-left:-6px;
bottom:-12px;
text-decoration:none;
}
.sharrre .share {
display:block;
width:45px;
height:23px;
margin: 0;
padding: 0;
font: normal 11px "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
text-align:center;
text-decoration:none;
text-indent: -9999px;
color:#000;
}

#facebook .box {
	background: url(../images/social_icons_share_footer.png) no-repeat;
}

#facebook .box:hover {
	background: url(../images/social_icons_share_footer.png) no-repeat left -45px;
}


#twitter .box {
	background: url(../images/social_icons_share_footer.png) no-repeat -45px 0;
}

#twitter .box:hover {
	background: url(../images/social_icons_share_footer.png) no-repeat -45px -45px;
}


#googleplus .box {
	background: url(../images/social_icons_share_footer.png) no-repeat -90px 0;
}

#googleplus .box:hover {
	background: url(../images/social_icons_share_footer.png) no-repeat-90px -45px;
}


/*===================== SHARRRE FINISH ======================*/



.pearsonalwayslearning {
	margin-top: 20px;
	border-top: 1px solid #000
}



/*================== CLEAR AND RULE ====================*/

.rule {
	border-top: 1px solid #242424;
}

.clear {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}

.clear-10 {
	clear: both;
	display: block;
	height: 10px;
	margin: 0;
	padding: 0;	
}

.clear-20 {
	clear: both;
	display: block;
	height: 20px;
	margin: 0;
	padding: 0;	
}

.clear-30 {
	clear: both;
	display: block;
	height: 30px;
	margin: 0;
	padding: 0;	
}

.clear-40 {
	clear: both;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;	
}

a {color: #FF6600; text-decoration: none;}
a:hover {color: #000; text-decoration: none;}